.coin-info-page {
  padding: 20px;
  color: #ffffff;
  margin: 20px; /* Отступы по краям экрана */
}

.coin-info-name {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center; /* Выравнивание текста по центру */
  color: #ffffff; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer; /* Добавляем курсор при наведении */
}

.coin-info-name:hover {
  text-decoration: underline; /* Подчеркиваем текст при наведении */
}

.analysis-details {
  margin-top: 20px;
  text-align: center; /* Выравнивание текста по центру */
}

.analysis-details p {
  text-align: center; /* Выравнивание текста по центру */
}

.analysis-details p:first-child {
  margin-bottom: 20px; /* Отступ от нижнего края первого <p> элемента */
  color: #ccd7e0;
}

.analysis-details p:not(:first-child) {
  margin-top: 10px; /* Отступ от верхнего края для остальных <p> элементов */
  margin-bottom: 10px; /* Отступ от нижнего края для остальных <p> элементов */
  color: #3862b5;
  font-size: 19px;
}

.advice {
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
}

.current-price,
.moving-average,
.EMA,
.RSI {
  font-size: 18px;
}

.tradingview-widget-container {
  margin-top: 30px;
  height: 600px !important;
}
