.coin-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.coin-item {
  display: flex; /* Добавляем flex-контейнер для размещения элементов в строку */
  align-items: center; /* Центрируем элементы по вертикали */
  background-color: #252525;
  border-radius: 10px;
  user-select: none;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.coin-item:hover {
  background-color: #383838;
}

.coin-details {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.coin-price {
  font-size: 14px;
  color: #3862b5;
}

.coin-link {
  text-decoration: none;
  color: inherit;
}

.coin-symbol {
  color: #ccd7e0;
}

.coin-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: -8px;
}

.coin-icon-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}